body {
    color: #40514E;
    text-align: center;
    margin: 0;
    font-family: 'Merriweather', serif;
}

.top-container{
    background-color: #EAF6F6;
    position: relative;
    padding-top: 100px;
}
h1{
    font-size: 5.625rem;
    margin-top: 50 auto 0 auto;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
    line-height: 0.5;
    
    
}
h2 {color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
   


}
span{
    text-decoration: underline;

}
.intro{
    width: 30%;
    margin: auto;
    line-height: 2;
}
.cloud-up {
    position: absolute;
    right: 300px;
    top: 50px;
 
}
.cloud-bottom {
    position: absolute;
    left: 300px;
    bottom: 300px;
    

}

hr{
    border: dotted #EAF6F6 6px;
    border-top: none;
    width: 5%;
    margin: 100px auto 100px auto;
    
    
  }

.minhaj{
    position: absolute;
    height: 360px;
    width: 360px;
    bottom: 300px;
    right: 520px;
}
.minu{
    width: 180px;
    height: 180px;
    margin-top: 3%;
    
}
h3{
    color: #11999E ;
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left ;
    line-height: 2;

}
.computer{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.chili{
    width: 25%;
    float: right;
    margin-right: 30px;
    
}

.contact-me-text{
    width: 40%;
    margin: 40px auto 60px;

}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat';
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    line-height: 6;
  }
  
  .btn:hover {
    background:  #30e3cb;
    background-image: -webkit-linear-gradient(top,  #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top,  #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top,  #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top,  #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom,  #30e3cb, #2bc4ad);
    text-decoration: none;
  }
  .footer-link{
    color:#11999E ;
    line-height: 2;
    margin: 15px;
    text-decoration: none;
}
  .All-rights-reserved{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
    
  }

  a{
    font-family: 'Montserrat';
  }
  a:hover{
    color: #EAF6F6;
  }
  .bottom-container{
    background-color: #66BFBF;
    padding: 50px 0 20px ;
  }